.rbc-header {
    overflow: hidden;
    -webkit-flex: 1 0 0%;
        -ms-flex: 1 0 0%;
            flex: 1 0 0%;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 90%;
    min-height: 0;
    border-bottom: 1px solid #DDD;
  }
  .react-datetime-picker{
    display: block!important;
    width: 100%!important;  
    background: #FFFFFF;

  }
  .react-datetime-picker__wrapper {
    padding: 0.55rem 1.25rem;
    border: 1px solid #DDDDDD!important;
    border-radius: 8px;
    margin-bottom: 0.75rem;
  }
  .css-vj8t7z {
    margin-bottom: 0.5rem!important;
    border-radius: 8px!important;
    border: 1px solid #DDDDDD!important;
    background-color: #FFFFFF!important;
    color: #7A7A7A!important;
  }
  .css-1hwfws3{
    padding: 0.55rem 1.25rem!important;
  }
  .css-2o5izw:hover {
    border-color: black!important;  
  }
  .rdtPicker {
    bottom: 0;
  }
  .react-datetime-picker__calendar--above-label{
    top: 100%!important;
  }
  .react-datetime-picker__clock {
    top: 100%!important;
  }